@media screen and (max-width:500px){
    td{
        display: block;
        
    }
    th{
        display: none;
    }
    .miniId::before{content: "ID: ";}
    .miniName::before{content: "Név: ";}
    .miniCity::before{content: "Település: ";}
    .miniSalary::before{content: "Fizetés: ";}
    .mini::before{
        font-weight: bold;
        display: inline-block;
        width: 100px;
    }

    .miniRow{
        margin-bottom: 20px;
        display: block;
        border: 1px solid black;
        
    }

    .buttons{
        
    }




}
